// Colors
$offBlack: #20222b;
$darkBlue: #333745;
$blue: #3c4251;
$lightBlue: #464b5e;
$offWhite: #a5afd7;
$purple: #8357c5;
$white: #fff;

// Spacing
$smallSize: 1.2rem;
$mediumSize: 1.6rem;
$largeSize: 3.2rem;
$xtraLargeSize: 4.8rem;

// Breakpoins
$desktopBreakpoint: 'only screen and (max-width: 35rem)';
